/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: rgba(71, 179, 192, 0.9);
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 20px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search{
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #FFF;
}
.sidebar.open .bx-search:hover{
  background: #1d1b31;
  color: #FFF;
}
.sidebar .bx-search:hover{
  background: #FFF;
  color: #47b3c0;
}
.sidebar li .list_btn{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #47b3c0;
}
.sidebar li .list_btn:hover{
  background: #FFF;
}
.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #47b3c0;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}

.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #47b3c0;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
.sidebar .lanuage_btn{
  display: flex;
  height: 45px;
  width: 45px;
  margin-left: 10px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
}
.sidebar li .lanuage_btn img{
  height: 100%;
  width: 100%;
}

.blog-post{
  width: 800px;
  max-width: 98rem;
  padding: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  border-radius: .8rem;
}

.blog-post_img{
  min-width: 10rem;
  max-width: 10rem;
  height: 10rem;
  transform: translateX(-4rem);
  position: relative;
}

.blog-post_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: .8rem;
}

.blog-post_img::before{
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: .5rem .5rem 3rem 1px rgba(0, 0, 0, 0.05);
  border-radius: .8rem;
}

.blog-post_date span{
  display: block;
  color: rgba(0, 0, 0, 0.5);
  font-size: 1.6rem;
  font-weight: 600;
  margin: .5rem 0;
}

.blog-post_title{
  font-size: 2.0rem;
  text-transform: uppercase;
  color: #4facfe;
}

.blog-post_text{
  font-size: 1.0rem;
  color: rgba(0, 0, 0, 0.7);
}

.blog-post_cta{
  display: inline-block;
  padding: 0.2rem 0.3rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 0.5rem;
  color: #fff;
  background-color: #47b3c0;
  border-radius: .8rem;
  text-decoration: none;
}

.blog-post_cta:hover{
  background-color: #1d1b31;
}

.navbar{
  display: none;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(71, 179, 192, 0.8);
}

.navbar_logo {
  font-size: 24px;
  color: white;
}

.navbar_logo i {
  color: white;
}

.navbar_menu {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.navbar_menu li {
  padding: 8px 12px;
}

.navbar_menu li:hover {
  background-color: rgba(71, 179, 192, 1.0);
  border-radius: 4px;
}

.navbar_icons{
  list-style: none;
  color: white;
  display: flex;
  padding-left: 0;
}
.navbar_icons li {
  padding: 8px 12px;
}

.navbar_toggleBtn{
  display: none;
  float: right;
  right: 32px;
  font-size: 24px;
  color: white;
}

@media screen and (max-width: 1068px) {
  .blog-post{
    max-width: 40rem;
    height: 250px;
  }
  .blog-post_img{
    max-width: 10rem;
    min-width: 10rem;
    height: 10rem;
  }
}

@media screen and (max-width: 868px) {
  .blog-post{
    max-width: 40rem;
  }
}

@media screen and (max-width: 768px) {
  .blog-post{
    width: 80%;
    padding: 2.5rem;
    margin-top: 100px;
    margin-bottom: 30px;
    flex-direction: column;
  }
  .blog-post_img{
    transform: translate(0, -8rem);
  }
  .blog-post_info{
    transform: translate(0, -8rem);
    text-align: center;
  }

  .blog-post_title{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: uppercase;
    color: #4facfe;
  }
  
  .blog-post_text{
    font-size: 10px;
    color: rgba(0, 0, 0, 0.7);
  }
  .blog-post_cta {
    margin-top: 20px;
  }

  .sidebar{
    display: none;
  }

  .home-section{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    transition: all 0.5s ease;
    z-index: 2;
  }
  .navbar {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    padding: 8px 24px;
}

.navbar_menu {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.navbar_menu li {
    width: 100%;
    text-align: center;
}

.navbar_icons {
    display: none;
    justify-content: center;
    width: 100%;
}

.navbar_toggleBtn{
    display: block;
}

.navbar_menu.active,
.navbar_icons.active {
    display: flex;
}
.navbar_menu i{
  color: #fff;
  height: 30px;
  min-width: 30px;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
}
.navbar_menu .links_name{
  color: #fff;
}
.navbar_menu a{
  text-decoration: none;
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}
}

